.fc-theme-standard td {
  border: none;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}

.fc-scrollgrid-sync-inner {
  border: none;
}


/* .fc-scroller {
  overflow: hidden;
} */

colgroup {
  background-color: #fafafa;
}

tbody {
  border: none !important;
}

.fc .fc-cell-shaded {
  display: none !important;
}

.fc-day {
  background-color: #fafafa;
}
.fc-col-header-cell-cushion span:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
}

.fc-day-today .fc-col-header-cell-cushion span:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  background-color: #2f74ff;
  color: white;
}
.fc-col-header-cell-cushion span:nth-child(2) {
  font-weight: 300 !important;
  font-size: 12px;
}
.fc-day-today .fc-col-header-cell-cushion span:nth-child(2) {
  font-weight: 500 !important;
  font-size: 12px;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
thead{
  position: relative;
}
tbody {
  top: -2px !important;
  position: relative;
}
.fc-theme-standard .fc-scrollgrid {
  border: 0;
}

/* .fc-button-group{
position: relative;
  z-index: 1;
}
.fc-today-button {
display: none !important;
}
.fc-next-button {
  position: absolute;
  background-color: transparent;
  color: black;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  outline: none;
}
.fc-prev-button {
  position: absolute;
  background-color: transparent;
  color: black;
  top: 40px;
  left: 10px;
  outline: none;
  text-decoration: none;
}
.fc .fc-button-primary:hover{
  background-color: transparent;
  text-decoration: none;
}
.fc .fc-button-group>.fc-button{
  position:absolute;
} */

