body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fc-theme-standard td {
  border: none
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}

.fc-scrollgrid-sync-inner {
  border: none;
}

.fc-scrollgrid-sync-table {
  display: none;
}


.fc-day-today {
  background: #FFF !important;
  border: none !important;

}

colgroup {
  background-color: #F8F9FD;
}

tbody {
  border: none !important;
}

.fc .fc-cell-shaded {
  display: none !important;
}

/* .fc-day{
  background-color: yellow;
} */
.fc-col-header-cell-cushion span:nth-child(1) {
  color: blue;
  width: 50px;
  height: 50px;
}

.fc-day-today .fc-col-header-cell-cushion span:nth-child(1) {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  color: white;
}