body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fc-theme-standard td{
  border:none
}
.fc .fc-timegrid-slot-minor {
 border-top-style:none ;
}
.fc-scroller-harness{
  overflow-x: none;
  overflow-y: none !important;
  border: none;

}
.fc-scrollgrid-sync-inner{
  border: none;
}
.fc-scrollgrid-sync-table{
  display: none;
}